body{
    color:#ffffff;
    background-color: #000000;
    font-family: monospace;
    font-size: 18px;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;

}


h1,h2,h3,.align_center{
    text-align: center;
}

.link_colour{
    color: #ffffff;
}
.in_series{
    display: inline-block;
    text-align: center;
}
.zoom_in:hover {
    transition: transform .3s;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.margin{
    margin-left: 90px;
}
/*Background Image url => https://images.wallpapersden.com/image/download/4k-hack-art_bGVsbGuUmZqaraWkpJRnamtlrWZpaWU.jpg*/
